*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    position: relative;
}

.container {
    width: 57vw;
    margin: 0 auto;
}

:root {
    --font: 'Open Sans', sans-serif;
    --main-color: rgb(2, 58, 92);
}