.hero {
    display: flex;
    gap: 40px;
}

.hero__title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.hero__flex-item {
    flex-basis: 100%;
}

.hero__image {
    margin-bottom: 20px;
    width: 100%;
}

.hero__pharagraph {
    text-align: justify;
    margin: 0;
}