.top-menu {
    background-color: var(--main-color);
    height: 85px;
}

.top-menu__list {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 35px 0 25px;
}


.top-menu__list-item {
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: 300;
  margin-left: auto;
  height: 25px;
}

.top-menu__list-item:hover {
  padding-top: 3px;
}

@media (max-width: 1441px) {
    .top-menu__list-item {
      font-size: 20px;
    }
  }

.top-menu__logo-box {
    background-color: white;
    box-shadow: 1px 1px 5px 0.01px grey;
    margin: -35px auto 0 -22px;
}

.top-menu__logo {
    padding: 20px 35px;
}

@media (max-width: 1441px) {
    .top-menu__logo {
      height: 140px;
      padding: 16px 30px;
    }
  }